@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i&display=swap');


.welcome_text h7 {
    color: whitesmoke;
    padding-top: 200px;
    font-weight: lighter;
}

.light_font {
    font-weight: lighter;
}

.enlarged-image {
    width: 600px;
    height: auto;
}

/* Style for the pop-up box */
.popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    background-color: #f1f1f1;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.popup-text {
    padding: 10px;
    font-weight: bold;
    color: #404b65;
}
/* Style for the button */
.slide-out-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

    /* Style for the button icon */
    .slide-out-button i {
        color: #555;
    }
    /* Style for the button on hover */
    .slide-out-button:hover {
        background-color: #ccc;
    }
        /* Style for the onmouseover text */
        .slide-out-button:hover span {
            color: #1f1f1f;
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
        }
    /* Style for the onmouseover text */
    .slide-out-button span {
        display: none;
    }
    /* Style for the onmouseover text on hover */
    .slide-out-button:hover span {
        display: inline-block;
    }

/* Style for the transparent submit button */
.transparent-button {
    background-color: transparent;
    color: #404b65;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-weight: normal;
}

    /* Style for the submit button on hover */
    .transparent-button:hover {
        background-color: #face34;
        color: #fff;
    }

.popup input[type="text"] {
    width: 100%;
    padding: 8px;
    background-color: #fbfbfb;
    margin-bottom: 10px;
    box-sizing: border-box;
}
/* Style for the close button */
.close-button {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 20px;
    color: #666666;
    cursor: pointer;
}
    /* Style for the close button on hover */
    .close-button:hover {
        color: #1f1f1f;
    }


.appPopup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    border: none;
}
.appPopup-content-border {
    border: lightsteelblue solid 5px;
}
.appPopup-content {
    background-color: #fbfbfb;
    width: 600px;
    height: 450px;
    padding:0px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.appPopup-title {
    font-family: Poppins, sans-serif;
    color: #404b65;
    font-weight: bold;
    font-size: 23px;
    padding-top:10px;
    padding-right:0px;
}

#closePopup {
    margin-top: 10px;
}
/*
.appPopup-title {
    font-family: Poppins, sans-serif;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #333;
}
*/


.appPopup-label {
    padding-top: 10px;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    color: #555;
    margin-bottom: 5px;
}

.appPopup-input {
    font-family: Poppins, sans-serif;
    font-size: 13.5px;
    color: #777;
    border: 1px solid #ccc;
}
canvas {
    border: 1px solid #555;
    box-sizing: border-box;
}


.appPopup-button:hover {
    transition: ease-in all 0.3s;
    background-color: lightsteelblue;
    color: #404b65;
}
.appPopup-close-button {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    color: #1f1f1f;
    background-color: transparent;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    transition: ease-in all 0.3s;
}
    .appPopup-close-button:hover {
        color: rgb(2, 47, 121);
        background-color: transparent;
    }

.mallet {
    padding: 20px 30px 0 30px;
}

.mallet_box {
    background: #fff;
    margin-bottom: 30px;
    transition: ease-in all 0.3s;
    padding: 25px 15px 50px 15px;
}

    .mallet_box h3 {
        color: #0c0b0b;
        font-size: 22px;
        text-transform: uppercase;
        transition: ease-in all 0.3s;
        font-weight: bold;
        line-height: 22px;
        padding: 20px 0 20px 0;
    }

    .mallet_box p {
        color: #191a1a;
        font-size: 16px;
        line-height: 28px;
        transition: ease-in all 0.3s;
    }

.ma_hover:hover.wallet_box {
    background: #face34;
    transition: ease-in all 0.3s;
}

.ma_hover:hover i img {
    filter: invert();
    transition: ease-in all 0.3s;
}
.ma_hover:hover.wallet_box h3 {
    color: #fff;
    transition: ease-in all 0.3s;
}

.ma_hover:hover.wallet_box p {
    color: #fff;
    transition: ease-in all 0.3s;
}

.transparent-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
}

.notif {
    background-color: lightsteelblue;
    color: rgb(2, 47, 121);
    font-family: 'Poppins', sans-serif;
}


/*
.wallet-picture {
    display: inline-block;
    position: relative;
}

.card-picture {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.wallet-picture:hover.card-picture{
    display: none;
}
*/
.disable-hover .cardInfo {
    visibility: hidden;
}
.card-picture {
    width: 200px; /* Initial width of the card */
    height: 200px; /* Initial height of the card */
    transition: transform 0.3s ease-in-out;
    fill: #777;
    padding: 20px;
}
    .card-picture:hover{
        fill: transparent;
        transform: scale(1.1);
    }
.card-picture-blocked{
    width: 200px; /* Initial width of the card */
    height: 200px; /* Initial height of the card */
    transition: transform 0.3s ease-in-out;
    fill: #555;
}

.cardInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 220px;
    min-width: 320px;
    min-height: 220px;
    max-height: 550px;
    border-radius: 8px;
    line-height: 80px;
    background-color: #0f1e42;
    border: lightsteelblue solid 6px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.card-container {
    padding: 50px;
    position: relative;
    display: inline-block;
    max-width: 700px;
    max-height: 500px;
}
.smallContainer {
     /* Add this to create a flex container */display: flex;
    padding: 10px;
    background-color: transparent;
    align-content: center;
}

.card-btn {
    line-height: normal;
    font-size: 12px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: #182d60;
    text-align: center;
    min-width: 70px;
    min-height: 30px;
    background-color: whitesmoke;
    transition: ease-in all 0.3s;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-weight: normal;
}

.card-repbtn {
    line-height: normal;
    font-size: 12px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: darkred;
    text-align: center;
    min-width: 70px;
    background-color: whitesmoke;
    transition: ease-in all 0.3s;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-weight: bold;

}

.card-btn:hover {
    color: whitesmoke;
    background-color: #182d60;
    transition: ease-in all 0.3s;
}
.card-repbtn:hover {
    color: whitesmoke;
    background-color: darkred;
    transition: ease-in all 0.3s;
}

.card-container:hover .cardInfo {
    opacity: 1;
}
.cardInfo-info {
    font-family: 'Courier New';
    font-size: 14px;
    color: #ccc;
    font-weight: normal;
    text-align: left;
    padding-right: 7px;
}
.cardInfo-info2 {
    font-family: 'Courier New';
    font-size: 14px;
    color: #ccc;
    font-weight: normal;
    padding-right: 7px;
    text-align: right;
}
.cardInfo-text {
    font-family: 'Courier New';
    font-size: 15px;
    font-weight: bold;
    color: #f1f1f1;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
}
.cardInfo-text2 {
    font-family: 'Courier New';
    font-size: 15px;
    font-weight: bold;
    color: #f1f1f1;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    text-align: right;
}

.visafont{
    font-size: 23px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 1000;
    font-style:italic;
    color: whitesmoke;
    padding:6px;
}
.visafont h1{
    font-size: 23px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    padding: 6px;
}
    .visafont span {
        font-size: 23px;
        font-family: sans-serif;
        text-align: center;
        font-weight: 900;
        font-style: italic;
        color: #e4822c;
        padding: 6px;
    }

.cardPopup {
    text-align: center;
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 150px;
    background-color: whitesmoke;
    z-index: 9999;
    border-radius: 5px;
    border: #0f1e42 solid 3px;
}

.popup1 {
    display: none; /* Hide the popup by default */
    position: fixed;
    top: 50%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    z-index: 9999;
}

.cardPopup-input {
    font-family: Poppins, sans-serif;
    font-size: 9px;
    color: #777;
    padding: 3px;
    border: 1px solid #ccc;
}
.transtext{
    color: transparent;
    font-size:7px;
}
.cardPopup-text {
    padding-top: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #1f1f1f;
    margin-bottom: 5px;
}
    .cardPopup-text span {
        font-weight: bold;
    }
    .cardPopup-textlimit {
        font-weight: bold;
        font-size: 15px;
        color: #1f1f1f;
    }
.cardPopup-close-button {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    color: #1f1f1f;
    background-color: transparent;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    transition: ease-in all 0.3s;
}

    .cardPopup-close-button:hover {
        color: lightsteelblue;
        background-color: transparent;
    }

.reminderTitle {
    color: rgb(2, 47, 121);
    font-size: 20px;
    text-align: center;
    font-weight:normal;
    font-family: 'Poppins', sans-serif;
}

.reminder-input {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color: #777;
    padding: 3px;
    border: 1px solid #ccc;
}

.thing-text h1{
    color: rgb(2, 47, 121);
    font-size: 14px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.cardPopup-button {
    font-weight: normal;
    font-family: Poppins, sans-serif;
    font-size: 11px;
    color: #f1f1f1;
    background-color: #404b65;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    transition: ease-in all 0.3s;
}

    .cardPopup-button:hover {
        background-color: lightsteelblue;
        color: #404b65;
    }

.viewPending-btn {
    border-radius:3px;
    background-color: rgb(2, 47, 121);
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-size: 17px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
}
    .viewPending-btn:hover {
        color: rgb(2, 47, 121);
        background-color: lightsteelblue;
    }
.reminder-button {
    border-radius: 4px;
    background-color: #ccc;
    font-family: 'Poppins', sans-serif;
    color: rgb(2, 47, 121);
    font-size: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
    .reminder-button:hover {
        color:whitesmoke;
        background-color: rgb(2, 47, 121)
    }
.rejected {
    color: darkred;
}

.pending {
    color: #face34;
}


.appsPanel {
    position: fixed;
    top: 0;
    right: -300px; /* Start the panel off-screen */
    width: 300px;
    height: 100%;
    background-color: #1f1f1f;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;      
}
.appsPanelFont{
    font-family:'Poppins', sans-serif;
    color: whitesmoke;
    font-size: 15px;
    
}
.appsPanelTitle {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}


    .panel h2 {
        margin-top: 0;
    }

    .panel ul {
        list-style-type: none;
        padding: 0;
    }

    .panel li {
        margin-bottom: 10px;
        color: #333;
    }

    .panel .rejected {
        color: red;
    }



.blabla {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    
}
.center-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 30px;
}
.profileabout {
    padding: 60px 0 60px 0;
}
.profileabout_border {
    border: lightsteelblue solid 5px;
    padding: 60px 80px;
}

.profileabout_text h1 {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-bottom: 5px;
    font-size: 23px;
    font-weight: 500;
    color: whitesmoke;
    padding-right: 50px;
}

.profileabout_text p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: normal;
    padding-bottom: 10px;
    color: whitesmoke;
    font-size: 16px;
    padding-right: 700px;
}

.profileabout_img {
    float: right;
}

.profileabout_img figure {
    margin: 0;
}